@font-face {
  font-family: "Santello Regular";
  src: url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.eot");
  src: url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/a3dd14b0016c8c4288002bbe7b23d782.svg#Santello Regular")
      format("svg");
}
:root {
  --dark: #334450;
  --light-dark: rgba(51, 68, 80, 0.11);
  --semi-dark: rgba(51, 68, 80, 0.25);
  --light-blue: #66a1b6;
  --yellow: #fed650;
  --green: #046362;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  font-family: "Santello Regular", sans-serif;
  display: flex;
  flex-direction: column;
  line-height: 170%;
  font-weight: normal;
}
.container {
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.test {
  background-color: var(--light-dark);
  border: 1px solid var(--green);
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
@keyframes rotate {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  10%,
  30% {
    transform: rotate(-10deg);
  }
  20%,
  40% {
    transform: rotate(10deg);
  }
}
