.testers {
  margin-top: 95px;
  display: flex;
  justify-content: space-between;
  gap: 35px;
}
.testers__left {
    position: relative;
    display: flex;
    gap: 30px;
}
.tester__micro-card{
    position: absolute;
    right: -34px;
    bottom: 40px;
    background-color: var(--dark);
    color:var(--white);
    padding: 11px;
    border-radius: 8px;
}
.tester__right {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 55px;
}
.tester__title{
    font-size: 36px;
    font-weight: normal;
    line-height: 170%;
}
.tester__card{
    padding: 20px;
    background-color: var(--dark);
    color: var(--white);
    border-radius: 8px;
}