* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	width: calc(64px * 8);
	height: calc(64px * 8);
	display: flex;
	flex-wrap: wrap;
}

.cell {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cell img {
	width: 48px;
	height: 48px;
	position: relative;
}

.black {
	background-color: darkgreen;
}

.white {
	background-color: burlywood;
}

.selected {
	background-color: orangered;
}

.available {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: orangered;
}

.lost {
	height: calc(50vh - 60px);
	width: 100%;
	padding: 30px;
	background-color: lightgray;
}
.info{
	display: flex;
	flex-direction: column;
	margin-left: 15px;
	align-items: center;
	text-align: center;
}